---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                     <ul class="list-inline text-center">
                    <li>
                        <a href="https://drive.google.com/file/d/0B3_ZQnd4IN7ySmlCNnpKU21vazQ/view?usp=sharing" width="1050" height="1500">
                            <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="bottom" title="Resume">
                                <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/pub/josh-fermin/81/a24/625">
                            <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
                                <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg" data-toggle="tooltip" data-placement="bottom" title="Github">
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
